$font1: "black ops one";
$font2: "phudu";
 
$green: #21d8a7;
$violet: #836fff;

$img1: "../images/image1.jpg";
$img2: "../images/image2.jpg";
$img3: "../images/image3.jpg";
$img4: "../images/image4.jpg";